body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
  }
  
  .navbar {
    height: 50px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    padding: 10px 20px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.681);
    font-weight: bolder;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease;
  }

  .navbar-left:hover{
    transform: scale(1.05);
  }
  
  .logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .title {
    font-size: xx-large;
    font-weight: 20px;
    color: #000000;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: #000000;
  }

  .bottom-fade {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(to top, #000 50%, transparent 100%);
    pointer-events: none;
    z-index: 1;
  }
  

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding: 15px 10px;
      gap: 10px;
    }

    .navbar-right {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 0.7rem;
    }
    
  }

  .big-section-box {
    margin: 10px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
    font-family: 'Orbitron', sans-serif;
    color: #000;
    text-align: center;
  }

  .big-section-box h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
  }
  

  .prediction-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  
  .field-selector,
  .drone-select {
    flex: 1;
    min-width: 250px;
  }
  
  .field-selector h2,
  .drone-select h2 {
    font-size: 1.4rem;
    font-weight: 800;
    color: #000000;
    margin-bottom: 15px;
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;
  }
  
  .field-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .field-box {
    background: 
      linear-gradient(rgba(180, 208, 139, 0.7), rgba(184, 255, 77, 0.7)),
      url('../images/crops.jpg') center/cover no-repeat;
    border: 2px dashed #2e1200;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #000000;
    border-radius: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
    font-size: large;
  }
  
  
  .field-box:hover {
    transform: scale(1.05);
    background-color: #cce5ac;
  }
  
  .drone-status-text {
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    font-weight: bold;
  }
  
  .drone-action-bar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .selected-field-label {
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bolder;
  }
  
  .problem-dropdown {
    flex: 1;
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
  }
  
  .problem-dropdown option {
    background-color: #b4d08b;
    color: #000000;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  #drone-display {
    margin-top: 30px;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  
  #drone-display.visible {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    opacity: 1;
  }
  
  #drone-img {
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-shrink: 0;
    border: 5px black solid;
  }
  
  #drone-info {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #drone-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  #drone-desc {
    font-size: 1.1rem;
    color: #000000;
  }
  
  #deploy-btn {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #a7dd74;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s ease;
  }
  
  #deploy-btn:hover {
    transform: scale(1.05);
  }
  
  #loading-bar {
    margin-top: 20px;
    width: 0%;
    height: 40px;
    background-color: #88c057;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    transition: width 0.3s ease;
    display: none;
  }
  
  #loading-bar.show {
    display: block;
  }
  

  @media (max-width: 768px) {
    .big-section-box{
        margin-bottom: 100px;
    }

    .problem-dropdown{
        width: 70px;
    }
    
    #drone-display {
      flex-direction: column;
      align-items: center;
    }
  
    #drone-img {
      width: 100%;
      height: 200px; /* adjust as needed */
    }
  
    #drone-info {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
  
    #drone-name {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
  
    #deploy-btn {
      margin-top: 12px;
    }
  
    #loading-bar {
      margin-top: 12px;
    }
  }